source https://nuget.org/api/v2

nuget AppForSharePointWebToolkit
nuget Antlr
nuget FSharp.Dynamic
nuget FSharp.Formatting
nuget FsWebAddRegistryEntries
nuget Microsoft.AspNet.Mvc
nuget Microsoft.AspNet.SignalR
nuget Microsoft.AspNet.Web.Optimization
nuget Microsoft.AspNet.WebApi
nuget Modernizr
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget Newtonsoft.Json
nuget Owin
nuget React.Web.Mvc4
nuget Respond
nuget SourceLink.Fake
nuget WebGrease
nuget bootstrap
nuget jQuery
nuget log4javascript

github fsharp/FAKE modules/Octokit/Octokit.fsx